<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore role:require="ContentDelivery">
    <services>
      <configurator type="Sitecore.Foundation.CloudFront.MediaManager.ServiceConfigurator,Sitecore.Foundation.CloudFront"/>
    </services>
     <events>
      <event name="publish:end">
        <handler type="Sitecore.Foundation.CloudFront.Pipeline.ClearCdnSyncOnTarget, Sitecore.Foundation.CloudFront" method="ClearCdnCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Foundation.CloudFront.Pipeline.ClearCdnSyncOnTarget, Sitecore.Foundation.CloudFront" method="ClearCdnCache" />
      </event>
    </events>
  </sitecore>
</configuration>