<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore role:require="Standalone or ContentManagement">
    <services>
      <configurator type="Sitecore.Foundation.CloudFront.MediaManager.ServiceConfigurator,Sitecore.Foundation.CloudFront"/>
    </services>
    <commands>
      <command name="MediaCdn:SyncItem" type="Sitecore.Foundation.CloudFront.Commands.SyncCdnMediaItem,Sitecore.Foundation.CloudFront" />
      <command name="MediaCdn:SyncAllItem" type="Sitecore.Foundation.CloudFront.Commands.SyncCdnAllMediaItem,Sitecore.Foundation.CloudFront" />
      <command name="MediaCdn:ClearItem" type="Sitecore.Foundation.CloudFront.Commands.ClearCdnMediaItem,Sitecore.Foundation.CloudFront" />
      <command name="MediaCdn:ClearAllItems" type="Sitecore.Foundation.CloudFront.Commands.ClearCdnAllMediaItem,Sitecore.Foundation.CloudFront" />
      <command name="MediaCdn:ClearAndSyncAllMasterItems" type="Sitecore.Foundation.CloudFront.Commands.ClearAndSyncAllMasterItems,Sitecore.Foundation.CloudFront" />
      <command name="MediaCdn:ClearAndSyncAllWebItems" type="Sitecore.Foundation.CloudFront.Commands.ClearAndSyncAllWebItems,Sitecore.Foundation.CloudFront" />
      <command name="MediaCdn:FindMissing" type="Sitecore.Foundation.CloudFront.Commands.FindMissingToSync,Sitecore.Foundation.CloudFront" />
    </commands>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.Foundation.CloudFront.Events.CdnMediaItemEventHandler, Sitecore.Foundation.CloudFront" method="OnItemSaved"/>
      </event>
      <event name="item:deleting">
        <handler type="Sitecore.Foundation.CloudFront.Events.CdnMediaItemEventHandler, Sitecore.Foundation.CloudFront" method="OnItemDeleted"/>
      </event>   
      <event name="item:renamed">
        <handler method="OnItemRenamed" type="Sitecore.Foundation.CloudFront.Events.CdnMediaItemEventHandler, Sitecore.Foundation.CloudFront"  />
      </event>
      <event name="item:copied">
        <handler method="OnItemCopied" type="Sitecore.Foundation.CloudFront.Events.CdnMediaItemEventHandler, Sitecore.Foundation.CloudFront" />
      </event>
      <event name="publish:end">
        <handler type="Sitecore.Foundation.CloudFront.Pipeline.ClearCdnSyncOnTarget, Sitecore.Foundation.CloudFront"
                 method="ClearCdnCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Foundation.CloudFront.Pipeline.ClearCdnSyncOnTarget, Sitecore.Foundation.CloudFront"
                 method="ClearCdnCache" />
      </event>
    </events>
  </sitecore>
</configuration>